body{
	background: #93142c;
}
section{
	padding-top: 20px;
	padding-bottom: 15px;
	position: relative;
	background: url(../images/star.png) repeat-y;
}
#banner{
	padding: 0;
	position: relative;
	overflow: hidden;
}
.banner{
	height: auto;
	width: 100%;
	overflow: hidden;
}
.banner img{
	display: block;
	margin: 0 auto;
	width: 100%;
}
@media (min-width: 1000px) and (max-width: 1400px){
	.banner img{
		width: 100%;
	}
}
@media (max-width: 1000px){
	.banner{
		width: 360%;
  		height: auto;
  		margin-left: -130%;
	}
	.banner img{
		width: 1000px;
	}
}
.guest-list{
	width: 100%;
	overflow: hidden;
}
.title{
	text-align: center;
	padding-bottom: 20px;
	color: #ffdf5f;
	margin-bottom: 0;
}
.title span{
	font-size: 28px;
	padding: 12px;
}
.title img{
	width: 30%;
	max-width: 200px;
	padding-bottom: 6px;
}
.sub-title{
	width: 80%;
	overflow: hidden;
	margin: 0 auto;
}
.sub-title h3{
	width: 31.3333%;
	float: left;
	text-align: center;
	border-bottom: 2px solid transparent;
	padding-bottom: 15px;
	margin-left: 1%;
	margin-right: 1%;
	color: #ffdf5f;
}
.sub-title h3.active{
	border-bottom: 2px solid #fff;
}
.guest-list .item p{
	text-align: center;
	font-size: 1.375em;
  	line-height: 40px;
  	margin: 0;
  	color: #fff;
}
.guest-list .item .avatar{
	width: 156px;
	height: 156px;
	border-radius: 100%;
	overflow: hidden;
	margin: 0 auto;
	border: 4px solid #fff;
}
.guest-list .item img{
	display: block;
	width: 156px;
	margin: 0 auto;
	vertical-align: middle;
}
.owl-prev, .owl-next{
	display: none !important;
}
#awards .sub-title{
	max-width: 1000px;
}
#awards .sub-title h3{
	color: #fff;
	cursor: pointer;
	padding-bottom: 18px;
}
#awards .sub-title h3 span{
	padding-right: 5px;
}
.award-list{
	width: 85%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	display: none;
}
.award-list#park{
	display: block;
}
.award-list .item{
	width: 21%;
	height: 140px;
	float: left;
	border: 1px solid #fff;
	border-radius: 8px;
	margin: 2%;
	padding: 10px;
}
.award-list .item p{
	color: #fff;
	font-size: 18px;
	text-align: center;
}
.award-list .item img{
	width: 30px;
	display: block;
	margin: 6px auto;
}
.award-list#person{
	width: 50%;
	margin: 0 auto;
}
.award-list#person .item{
	width: 45%;
	margin: 2.5%;
}
@media (min-width: 720px) and (max-width: 1000px){
	.award-list .item{
		width: 30.33%;
		margin: 1.5%;
	}
	.award-list .item p{
		font-size: 18px;
	}
	.award-list#person{
		width: 60%;
		margin: 0 auto;
	}
}
@media (max-width: 720px) {
	.award-list .item{
		width: 45%;
		margin: 2.5%;
	}
	.award-list .item p{
		font-size: 18px;
	}
	.award-list#person{
		width: 100%;
		margin: 0 auto;
	}
}
@media (max-width: 600px) {
	.award-list .item, .award-list#person .item{
		width: 80%;
		margin: 10px 10%;
		height: auto;
	}
	.award-list .item p{
		font-size: 18px;
	}
	.award-list#person{
		width: 100%;
		margin: 0 auto;
	}
}
.reg{
	width: 100%;
	margin-top: 45px;
}
.reg a{
	display: block;
	background: #f4f3f1;
	color: rgb(201, 4, 4);
	text-align: center;
	font-size: 24px;
	padding: 15px;
	width: 220px;
	margin: 0 auto;
	border-radius: 8px;
}
#intro .title span{
	padding: 12px 0;
	font-size: 22px;
}
.intro-container .step .idx{
	position: absolute;
	left: 20px;
  	top: 24px;
}
.intro-container .step .idx p{
	width: 36px;
	height: 36px;
	margin: 0 auto;
	background: #ffdf5f;
	color: #A11414;;
	border-radius: 100%;
	line-height: 1.8;
  	padding-left: 13px;
  	font-size: 20px;
}

.intro-container{
	width: 80%;
	margin: 0 auto;
}
.intro-container .step{
	position: relative;
	width: 80%;
	padding: 10px 30px;
	margin: 0 auto;
	border: 1px solid #ffdf5f;
	border-radius: 10px;
	margin-top: 15px;
}
.intro-container .step h3{
	padding-left: 40px;
	padding-bottom: 15px;
  	border-bottom: 1px solid #ffdf5f;
}
.intro-container .step h3, .intro-container .step p{
	color: #fff;
}
.intro-container .step p{
	font-size: 16px;
	line-height: 1.8;
}
@media (max-width: 720px) {
	.intro-container .step{
		width: 100%;
	}
}
#footer{
	height: 260px;
	color: #333;
}
#footer p{
	text-align: center;
	font-size: 14px;
	color: #eee;
}
#footer p a{
	text-decoration: none;
	color: #eee;
}
.cipc-logo{
	background: #fff;
	width: 100%;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}
.cipc-logo img{
	width: 200px;
  	margin: 10px auto;
  	display: block;
}
.modal-dialog{
	width: 240px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.modal{
	width: 100%;
	margin: 0;
}
.owl-page span{
	background: #fff !important;
}